body {
  background-color:  #F0EAD6;
  font-family: Arial, Helvetica, sans-serif;
} 

#calculator {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
  width: 400px;
  margin: 50px auto;
  border-radius: 20px;
  font-size: 25px;
  background-color: rgb(225,225,225);
}

.container-row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 75px;
  height: 60px;
  border-radius: 10px;
}

.buttons:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.05);
}

.number {
  background-color: lightpink;
}

#negative, 
#decimal,
#equals,
.operator {
  background-color: lightgreen;
}

#equals {
  width: 175px;
}

#delete {
  background-color: lightcoral;
}

#clear {
  background-color: lightblue;
}

#container  {
  display: flex;
  flex-direction: column;
}

#display {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-bottom: 15px;
  border-radius: 10px;
  min-height: 90px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 35px;
  background-color: lightgray;
}